@import url('https://fonts.googleapis.com/css?family=Righteous&subset=latin-ext');@charset "UTF-8";
* {
	margin:0;
	padding:0;
}

body{
	font-family: 'Righteous', cursive;
	overflow-y: scroll;
	overflow-x: hidden;

}

.overlay{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
}
/* ==== NAVBAR ==== */


.navbar{
    background-color:  rgba(0, 0, 0, 0.95);
    color: #fff;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-link{
    color: rgba(255, 255 , 255, 0.95);
}

.nav-link:hover{
    color: #16E506;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}
.navbar > li > a {
    color: white;
    font-family: "Righteous";
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.navbar> li > a:hover {
    color: #16E506;
}
.navbar> li > a:focus {
    color: white;
}
.navbar> .active>a, 
.navbar> .active>a:hover,
.navbar> .active>a:focus {
    background-color: transparent;
    color: #16E506;
} 

/* ==== HOME ==== */
.home-overlay{
    background: radial-gradient(circle, rgba(0,30,0,0.7), rgba(0,15,0,0.8), rgba(0,0,0,.9) 100%);
    /*background-color: rgba(9,54,0,0.6);*/
    height: 100%;
}
.home-container{
    background-image: url(../bg_img/bg2.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 30% 30%;
    background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
    height: 100%;
}
.home-title{
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 70px;
    font-weight: 800px;
    text-align: center;
    text-transform: uppercase;
    color: #fff; 
}

.home-title span{
    text-shadow: 3px 3px 8px black;
}
.home-text{
    padding-top: 20px;
    padding-bottom: 70px;
}

.home-content{
    font-size: 16px;
    font-weight: 700px;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 12px;
    text-shadow: 3px 3px 8px black;
}

.home-content p{
    text-shadow: 3px 3px 8px black;
}

.home-content2{
    font-size: 16px;
    font-weight: 800px;
    color: #fff;
    text-align: center;
    color:inherit;
}

.home-content-2 p{
    text-shadow: 3px 3px 8px black;
    color: #fff;
    outline: none;
}

.home-content-2 a:link, a:visited{
    text-shadow: 3px 3px 8px black;
    text-decoration: none;
    color: #fff;
    outline: none;
}


.home-content2 a:hover{
    text-shadow: 3px 3px 8px black;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    color: #16E506;
}

/* ==== GLOBO ==== */

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  background: url('../img/world2.jpg') repeat-x;
  background-size: auto 100%;
  -webkit-animation: move-map 40s infinite linear;
  -moz-animation: move-map 40s infinite linear;
  -o-animation: move-map 40s infinite linear;
  -ms-animation: move-map 40s infinite linear;
  animation: move-map 40s infinite linear;
}

.ball:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -40px 10px 70px 10px rgba(0,0,0,0.7) inset;
  z-index: 2;
}

.ball:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(0);
  opacity: 0.5;
  background: radial-gradient(circle at 50% 80%, #00FF06, #16E506 10%, #14CF05 66%, #0FA304 100%);
}

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-top: -30px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-moz-keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }

@-webkit-keyframes move-map {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -849px 0; }
}


@-o-keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }

@-ms-keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }

@keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }


/* ==== HONEYPOT ==== */

.hp-container{
    color: #fff;
    background-color: rgba(0,0,0,0.98);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 30% 30%;
    background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
    height: 100%;
}

.hp-title{
    padding: 15px 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(250,181,22);
    font-weight: 800;
}

.hp-sub-title{
    padding-bottom: 6px;
    padding-top:6px; 
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(250,181,22);
    font-weight: 700;
}


.hr-text {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(250,181,22);
}

.hp-text-container{
    padding-bottom: 40px;
    font-size: 16px;
}

.hp-text-container b{
    color: rgba(250,181,22, .9);
}

.hpot-img{
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 70px;
}



/* ==== SESSÃO DE RELATÓRIOS ==== */

.active { display: block !important }

.btns{
    padding: 40px;
}

.relat-container{
    background-image: url(../bg_img/bg5.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 30% 30%;
    background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
    height: 100%;
}

.relat-title{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.relat-text{
    color: #fff;
    padding: 20px;
    padding-top: 5px;
}

.relat-statistics{
    padding-top: 10px;
    padding-bottom: 35px;
}

.relat-graph{
    border: 1px solid rgba(58,122,94, .4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-title{
    color: #fff;
    padding: 10px;
}

.modal-title{
  margin: 0 auto;
  text-transform: uppercase;
 }
.modal-backdrop.in {
  background-color: rgba(0,0,0,.8);
}
.tcp{
    background-color: rgba(255,10,10, .75);
    text-align: center;
    border: 2px solid rgba(255,10,10, .40);
    font-weight: 500;
    color:#ddd;
    outline: none;
    font-size: 18px;
    line-height:2.3;
    width:130px;
    height: 45px;
    margin:0 auto;
}

.modal hr{
  background-color: #444;
}

.close{
  background-color: white;
  color:#fff;
}

.close:hover{
  color: #444; 
}
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    background-color: #111;
    border: 2px solid #000;
    border-radius: 10px;
    color: #fff;
}
.modal-header, .modal-footer {
    border: 0;
}

.waves-effect{
  cursor: pointer;

}
.udp{
    background-color: rgba(10,10,255, .75);
    text-align: center;
    border: 2px solid rgba(10,10,255, .40);
    font-weight: 500;
    color:#ddd;
    outline: none;
    font-size: 18px;
    line-height:2.3;
    width:130px;
    height: 45px;
    margin:10px auto;
}